*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #2b5876, #4e4376) ;
    font-family: 'Poppins', sans-serif;
}

.clock-container{
    text-align: center;
    background:rgba(255, 255, 255, 0.1) ;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.heading{
    font-size: 2rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.clock {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}